.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem;
}

/* Headers */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-transform: uppercase;
}

.username {
    text-decoration: underline;
    text-transform: capitalize;
    color: black;
    font-size: 1.3rem;
}

.sub-title{
    display: flex;
    font-size: 1.5rem;
    padding: 0 16rem;
    align-self: flex-start;
    color: grey;
    text-transform: uppercase;
}

.new-task-container {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 16rem;
    margin: 2rem 0;
}

.new-task {
    width: 100%;
}

.new-task:focus{
    outline: none;
}

.add-task{
    cursor: pointer;
}

/* Form */
.todo-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 16rem;
}

form {
    display: flex;
    flex-direction: column;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}

input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

input[type='file']{
    display: none;
}

.attach-btn{
    box-sizing: border-box;
    margin: 0 2rem;
    padding: 0.5rem 1.5rem;
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 1px solid grey;
}

.view-btn{
    box-sizing: border-box;
    margin: 0 2rem;
    padding: 0.5rem 1.5rem;
    width: 120px;
    text-transform: uppercase;
    background-color: lightblue;
    font-weight: bold;
    text-align: center;
    border: 1px solid grey;
}

.todo-task{
    text-transform: capitalize;
    font-size: 1rem;
}

.logout-btn {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1rem;
    text-transform: capitalize;
}